[% PROCESS header.tt %]

<div class="margin">
  <form method="post" action="/account/createSubmit" id="loginForm">
    <div class="title">Create account</div>
  
      <label class="login">account name</label>
      <div class="clear"></div>
  
      <input class="login" id="name" name="name" type="text">
      <button type="submit">Create</button>
      <div class="clear"></div>
  
    </div>
  </form>
</div>

<script>$("#name").focus();</script>

[% PROCESS footer.tt %]
